<div class="home-title">
  <h1 class="title">Học lập trình online miễn phí</h1>
  <p class="my-3">
    Freetuts là trang web học lập trình online miễn phí với các chủ đề:
    lập trình / các môn học / công nghệ / review sản phẩm tốt nhất đến với
    độc giả.
  </p>

  <p class="p-box my-4">
    Tham gia nhóm hỗ trợ cài đặt website WordPress miễn phí
    <a>tại đây.</a>
  </p>
</div>

<ng-container>
  <app-homeitem class="mt-5" *ngFor="let item of homePost" [category_name]="item.category_name"
    [homePost]="item.children">
  </app-homeitem>

</ng-container>
