<div class="form-wrapper">
  <h2>EDITING CATEGORY</h2>
  <form [formGroup]="createCategoryForm" (submit)="onSubmitCreate()">
    <div class="mb-3">
    </div>
    <div class="mb-3 hide">
      <label class="form-label">Category Parent ID:</label>
      <input class="form-control" formControlName="category_parent_id" type="text" readonly />
    </div>
    <div class="mb-3">
      <label class="form-label">Category Name</label>
      <input class="form-control" formControlName="category_name" type="text" />
    </div>
    <div class="mb-3">
      <label class="form-label">Icon's link</label>
      <input class="form-control" formControlName="imgUrl" type="text" />
    </div>
    <label class="form-label">Description</label>
    <editor formControlName="desc" apiKey="4454prg0ixwck2sdmxcta7wrz5eaoz9nx2asnx6rf2dsc80p" [init]="{
          height: 300,
          menubar: true,
          plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
          ],
          toolbar:
            'undo redo | formatselect | bold italic backcolor | \
            alignleft aligncenter alignright alignjustify | \
            bullist numlist outdent indent | removeformat | help'
        }"></editor>

    <button class="btn btn-primary my-3" type="submit" [disabled]="createCategoryForm.invalid">
      Edit
    </button>
  </form>
</div>
