<!-- <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Mock Angular Fsoft</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/admin">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/navbar-admin">
              <span data-feather="file"></span>
              Navbar
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/post-admin">
              <span data-feather="shopping-cart"></span>
              Post
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/group-admin">
              <span data-feather="shopping-cart"></span>
              Group
            </a>
          </li>
        </ul>

      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>
      <router-outlet></router-outlet>

    </main>
  </div>
</div> -->

<div class="navbar">
  <div class="row">
    <div class="column column-30 col-site-title"><a routerLink="/admin/dashboard" class="site-title float-left">Mock
        Angular
        Fsoft</a>
    </div>
  </div>
</div>
<div class="row">
  <div id="sidebar" class="column">
    <h5>Navigation</h5>
    <ul>
      <li><a href="/"><em class="fa fa-home"></em>Homepage</a></li>
      <li><a routerLink="/admin/dashboard"><em class="fa fa-bar-chart"></em> Home Admin</a></li>
      <li><a routerLink="/admin/navbar-admin"><em class="fa fa fa-clone"></em> Category</a></li>
      <li><a routerLink="/admin/group-admin"><em class="fa fa-pencil-square-o"></em> Group</a></li>
      <li><a routerLink="/admin/group-admin"><em class="fa fa-warning"></em> Tag</a></li>
      <li><a routerLink="/admin/post-admin"><em class="fa fa-hand-o-up"></em> Post</a></li>
      <li><a href="/"><em class="fa fa-table"></em> Logout</a></li>
    </ul>
  </div>
  <section id="main-content" class="column column-offset-20">
    <div class="row grid-responsive">
      <div class="column page-heading">
        <div class="large-card">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </section>
</div>
